
@import 'base/index';
@import 'components/index';
@import 'layout/index';


@media screen and (min-width: 480px) {
    .footer-img{
        width: 320px;
    }
    .social-icon{
        flex-direction: row;
    }
}
@media screen and (min-width: 500px){
    .main-img-container{
        height: 550px;
    }
}
@media screen and (min-width: 560px) {
    .main-header {
      margin-bottom: 5px;
    }
  }

@media screen and (max-width: 767px){
    .search-bar-header {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .main-container{
        width: 750px;
    }
    .main-container{
        width: 750px;
    }
    .phone-btn{
        display: none;
    }
    .header-search-bar{
        display: none;
    }
    .top-footer{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
    }
    .main-footer{
        display: flex;
        flex-wrap: wrap;
    }
    .main-footer > div{
        width: 360px;
    }
    .copyright{
        display: flex;
    }
}

@media screen and (max-width: 991px){
    .support-btn, .contact-btn{
        display: none;
    }
    .nav-banner{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .main-container{
        width: 970px;
    }
    .logo-container {
        margin-left: auto;
    }
    .main-container{
        width: 970px;
    }
    .search-bar-header{
        margin-left: 0;
        padding: 0;
    }
    .search-bar{
        display: none;
        width: 0;
    }
    #search-bar-submit{
        height: 55px;
        border-radius: 3px;
    }
    .main-title{
        text-align: left;
        font-size: 4rem;
        line-height: 5rem;
    }
    .services-block{
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }
    .box {
        width: 280px;
    }
    .footer-container{
        margin-left: auto;
    }
    .main-footer{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .main-footer > div{
        width: 190px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 1024px){
    .box{
        width: 300px;
    }
}

@media screen and (min-width: 1260px) {
    .main-container{
        width: 1200px;
    }
    .header-main{
        margin-left: 5px;
    }
    .logo-container {
        margin-left: auto;
    }
    .search-bar{
        display: inline;
        width: 230px;
    }
    #search-bar-submit{
        border-radius: 0 3px 3px 0;
    }
    .main-container {
        width: 1200px;
    }
    .search-bar{
        display: inline;
        width: 230px;
    }
    .nav-box{
        width: 167px;
    }
    .services-block{
        justify-content: center;
        width: 100%;
    }
    .box{
        width: 380px;
    }
    .footer-container{
        margin-left: auto;
    }
    .footer-nav{
        flex-direction: row;
        padding-top: 30px;
    }
    .top-footer{
        margin-right: 90px;
        justify-content: flex-start;
    }
}

