
div{
    display: block;
}

input[type="text" i]{
    padding-block: 1px;
    padding-inline: 2px;
}

.container{
    margin-left: auto;
    margin-right: auto;
}
 

.main-container {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main-img-container{
    display: flex;
    align-items: center;
    height: 650px;
    overflow: hidden;
    background: url(../images/main-img.png) center/cover no-repeat #818181;
    margin-bottom: 30px;
}

.main-title{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}

.main-subtext{
    font-size: 1.3rem;
    margin-top: 20px;
    line-height: 1.8rem;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.services-title > a{
    float: right;
    color: #333645;
}

.services-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.services-block-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.software{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.software:hover{
    background-color: #67809F;
    text-decoration: none;
}
.software:hover .block-title, .software:hover .description{
    color: white;
}

.box{
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid #ccc 1px;
    border-radius: 15px;
    padding: 30px;
    top: 0;
    transition: 0.5s ease;
}
.box:hover{
    top: -10px;
    transition: 0.5s ease;
}

.it-support{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.it-support:hover{
    background-color: #4183D7;
    text-decoration: none;
}
.it-support:hover .block-title, .it-support:hover .description{
    color: white;
}

.digital{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.digital:hover{
    background-color: #2ECC71;
    text-decoration: none;
}
.digital:hover .block-title, .digital:hover .description{
    color: white;
}

.tele-services{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.tele-services:hover{
    background-color: #D64541;
    text-decoration: none;
}
.tele-services:hover .block-title, .tele-services:hover .description{
    color: white;
}

.web-design{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.web-design:hover{
    background-color: #926FB1;
    text-decoration: none;
}
.web-design:hover .block-title, .web-design:hover .description{
    color: white;
}

.cyber{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.cyber:hover{
    background-color: #F62459;
    text-decoration: none;
}
.cyber:hover .block-title, .cyber:hover .description{
    color: white;
}

.developer{
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
}
.developer:hover{
    background-color: #CE4125;
    text-decoration: none;
}
.developer:hover .block-title, .developer:hover .description{
    color: white;
}

.welcome{
    display: flex;
    flex-direction: column;
    background-color: #333645;
}

.row{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.welcome-description, .client-description{
    padding-right: 15px;
}

.welcome > div{
    margin-bottom: 30px;
}

.stars{
    margin-bottom: 30px;
}

.quotes{
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 25px;
}

.author-text{
    font-size: 1.1rem;
    font-weight: 600;
    color: #A3A8AC;
}

.review{
    display: flex;
    padding-top: 15px;
}

.news-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.block-news{
    position: relative;
    cursor: pointer;
    top: 0;
    transition: 0.5s ease;
}
.block-news:hover{
    top: -10px;
    transition: 0.5s ease;
}

.news-img{
    width: 100%;
}

.view-all a{
    color: #333645;
}

.poster{
    display: flex;
    color: #75788A;
    font-size: 0.9rem;
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid #CCC 1px;
}

.poster-info{
    margin: auto 0;
    padding-left: 20px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #333645;
    background-color: #DDD;
    align-items: center;
    width: 100%;
}

.newsletter-container{
    max-width: 940px;
}

.input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.name, .email{
    padding-bottom: 15px;
    width: 100%;
}

#newsletter-name-input, #newsletter-email-input{
    display: block;
    width: 100%;
    height: 47px;
    font-size: 14px;
    padding: 0 15px;
    border: solid #E5E5E5 1px;
    margin-top: 5px;
}

.marketing-info{
    display: flex;
    text-wrap: wrap;
    margin-bottom: 25px;
}

.marketing-check{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.chat{
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 10px;
    z-index: 3;
    height: 60px;
    width: 60px;
    background-color: #333645;
    border-radius: 50%;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat > img{
    margin-top: 17px;
    margin-left: 17px;
}

.partner-container, .client-container{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.partner-item, .client-item{
    margin-right: 50px;
    filter: grayscale(1);
}

.partner-item:hover, .client-item:hover{
    filter: grayscale(0);
}