
.blue{
    background-color: #4183D7;
    border: solid #4183D7 1px;
    display: inline-block;
    margin-right: 5px;
}
.blue:hover{
    background-color: #2A6EC6;
    border-color: #2A6EC6;
}

.gray {
    background-color: #999AA2;
    border: solid #999AA2 1px;
}
.gray:hover {
    background-color: #84858F;
    border-color: #84858F;
}

.support-btn{
    margin-left: auto;
    margin-right: 15px;
}

.contact-btn{
    margin-right: 20px;
}

.btn{
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 15px 18px;
    font-weight: 400;
    @extend %centered;
    display: flex;
    align-items: center;
    height: 55px;
}

#search-bar-submit{
    padding: 3px 18px 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.button-big{
    display: flex;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    font-size: 1.25rem;
    align-items: center;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-top: 20px;
    margin-right: 10px;
}

.light-purple{
    background-color: #926FB1;
    border: solid #7E57A0 1px;
}
.light-purple:hover{
    background-color: #7E57A0;
    border: solid #7E57A0 1px;
}

.consent-btn{
    position: fixed;
    font-size: 0.8rem;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background: #75788A;
    border: solid #75788A;
    border-width: 1px 1px 0 0;
    border-radius: 0 10px 0 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-top: 2px;
}

.read-more-software{
    font-size: 1.1rem;
    height: auto;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #67809F;
}
.software:hover .read-more{
    background-color: white;
    color: #67809F;
}

.read-more-it-support{
    font-size: 1.1rem;
    height: auto;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #4183D7;
}
.it-support:hover .read-more{
    background-color: white;
    color: #4183D7;
}

.read-more-digital{
    font-size: 1.1rem;
    height: auto;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #2ECC71;
}
.digital:hover .read-more{
    background-color: white;
    color: #4183D7;
}