
.logo{
    width: 100%;
    max-width: 370px;
}

.icon {
    margin-right: 8px;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
  }

  .search.icon{
    display: inline-block;
    width: 3em;
    height: 3em;
  }