
h4{
    display: block;
    margin-block-start: 1.32em;
    margin-block-end: 1.32em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 0;
    font-size: 16px;
    text-transform: uppercase;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}